
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>User Details</h4>

      <div class="card">
        <div class="card-header">
          <b><span>Username: </span><%= @user["username"] %></b>

          <div class="mt-2">
            <%= image_tag "https://i.pravatar.cc/", style: 'width: 500px; height 250px' %>
          </div>
        </div>

        <div class="card-body">
          <b>Email</b>
          <div class="mb-2"><%= @user["email"] %></div>

          <b>First Name</b>
          <div class="mb-2"><%= @user["name"]["firstname"] %></div>

          <b>Last Name</b>
          <div class="mb-2"><%= @user["name"]["lastname"] %></div>

          <b>Phone</b>
          <div class="mb-2"><%= @user["phone"] %></div>
        </div>

        <div class="card-footer">
          <%= link_to "Next User", LoadUserDetails_path(params[:id].to_i+1), class: 'btn btn-danger' %>
          <%= link_to "Previous User", LoadUserDetails_path(params[:id].to_i-1), class: 'btn btn-danger' %>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" value="" id="address_details">
            <label id="lblShowHide" for="address_details" class="form-check-label">Show Address Details</label>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6 address-details-div d-none">
      <h4>Address Details</h4>

      <div class="card">
        <div class="card-header">
          <b><span>City: </span><%= @user["address"]["city"] %></b>
        </div>

        <div class="card-body">
          <b>Street</b>
          <div class="mb-2"><%= @user["address"]["street"] %></div>

          <b>Street No.</b>
          <div class="mb-2"><%= @user["address"]["number"] %></div>

          <b>Zip Code</b>
          <div class="mb-2"><%= @user["address"]["zipcode"] %></div>

          <b>Geolocation Latitude</b>
          <div class="mb-2"><%= @user["address"]["geolocation"]["lat"] %></div>

           <b>Geolocation Longtitude</b>
          <div class="mb-2"><%= @user["address"]["geolocation"]["long"] %></div>
        </div>

      </div>
    </div>

  </div>
</div>