
<h1>List of Products</h1>

<table class="table">
  <thead>
    <tr>
      <td>Product ID</td>
      <td>Product Name</td>
      <td>Quantity</td>
      <td>Units in Stock</td>
      <td>Discontinued</td>
      <td>Cost</td>
    </tr>
  </thead>
  <tbody>
    <% @Products.each do |product| %>
    <tr>      
      <td><%= product[:productID] %></td>
      <td><%= product[:productName] %></td>
      <td><%= product[:quantity] %></td>
      <td><%= product[:unitInStock] %></td>
      <td><%= product[:disContinued] %></td>
      <td><%= product[:cost] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<ul>
   <% @Products.each do |product| %>
      <li><%= product[:productName] %></li>
    <% end %>
</ul>

<ol>
   <% @Products.each do |product| %>
      <li><%= product[:productName] %></li>
    <% end %>
</ol>

<ol class= "list-unstyled">
   <% @Products.each do |product| %>
      <li><input type="checkbox"><%= product[:productName] %></li>
    <% end %>
</ol>

<ol class= "list-unstyled">
   <% @Products.each do |product| %>
      <li><input type="radio" name="productname"><%= product[:productName] %></li>
    <% end %>
</ol>

<select class="form-select">
  <% @Products.each do |product| %>
      <option><%= product[:productName] %></option>
    <% end %>
</select>

<ol class= "list-unstyled">
   <% @Products.each do |product| %>
      <li><input type="text" value="<%= product[:productName] %>"></li>
    <% end %>
</ol>
