<div>

  <p>Year is <%= @currenttime.year%></p>
  <p>Month is <%= @currenttime.month%></p>
  <p>Day is <%= @currenttime.day%></p>
  <p>Week day is <%= @currenttime.wday%></p>
  <p>Day in the year is <%= @currenttime.yday%></p>
  <p>Hour is <%= @currenttime.hour%></p>
  <p>Minute is <%= @currenttime.min%></p>
  <p>Seconds is <%= @currenttime.sec%></p>
  <p>Zone is <%= @currenttime.zone%></p>


</div>